h1 {
    display: inline-block;
    font-size: 1.2em;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

body {
    background: url("http://24.media.tumblr.com/76c2943f80226145a687162704be33b9/tumblr_msi5n46rIf1sgerdto1_500.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
}

li {
    list-style: none;
}

button {
    width: 100px;
    margin: 5px 10px;
}

.logo {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 200px;
}

.header {
    margin: 15px auto;
    width: 50%;
}

.task-item {
    margin-bottom: 10px;
}

.task-copy {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px 10px;
    color: white;
}

.btn-danger {
    background-color: red;
}

.left {
    display: block;
    margin: 0 0 0 auto;
}

.right {
    display: block;
    margin: 0 auto 0 0;
}

.button-group {
    display: none;
}

@media screen and (max-width: 675px) {
    .logo {
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width: 320px) and (max-width: 675px) {
    .logo {
        width: 80px;
        height: 80px;
    }

}

@media screen and (max-width: 575px) {
    .left {
        margin: 2px auto;
    }

    .right {
        margin: 2px auto;
    }
}